<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<link rel="stylesheet" href="stylesheets/forecast.css" />
		<link rel="stylehseet" href="sytlesheets/weather-icons.css" />
		<link rel="stylesheet" href="stylesheets/common.css" />
		<script src="javascripts/Chart.js"></script>
		<script src="javascripts/forecast.js"></script>
	</head>
	<body>
		<div id="graph-container">
			<canvas id="graph-temp"></canvas>
			<canvas id="graph-rain"></canvas>
			<canvas id="graph-wind"></canvas>
		</div><br>
		<div id="graph-tooltip"></div>
		<div id="buttons">
			<button class="pushed">Temp</button>
			<button>Rain</button>
			<button>Wind</button>
		</div>
	</body>
</html>